extends base

block content
    div.text-center.mb-4.h5 Search results for "#{search.searchWord}"
    ol.list-unstyled
        each item in response
            li.my-3
                form(action="POST") 
                    strong.pr-2 Stocked As: 
                    |#{item.stockedAS}</br>
                    if item.description1 
                        strong.pr-2 Part Description: 
                        |#{item.description1}</br>
                    if item.description2
                        strong.pr-2 Add. Description: 
                        |#{item.description2}</br>
                    if item.sapNumber
                        strong.pr-2 SAP Number: 
                        |#{item.sapNumber}</br>
                    if item.manufacturer
                        strong.pr-2 Manufacturer: 
                        |#{item.manufacturer}</br>
                    if item.location1
                        strong.pr-2 Location 1: 
                        |#{item.location1}</br>
                    if item.location2
                        strong.pr-2 Location 2: 
                        |#{item.location2}</br>
                    if item.location3
                        strong.pr-2 Location 3: 
                        |#{item.location3}</br>
                    if item.drawer
                        strong.pr-2 Drawer: 
                        |#{item.drawer}</br>
                    if item.cross1
                        strong.pr-2 Cross 1: 
                        |#{item.cross1}</br> 
                    if item.cross2
                        strong.pr-2 Cross 2: 
                        |#{item.cross2}</br>
                    if item.cross3
                        strong.pr-2 Cross 3: 
                        |#{item.cross3}</br>
                    if item.price
                        strong.pr-2 List Price: 
                        |#{item.price}</br>
                    a.btn.btn-danger.btn-sm.mt-2(id="deletebutton",href=`/delpart/${item._id}/delete` disable) Remove From Parts DB
                    //a.btn.btn-info.btn-sm.mx-2(href='#') Edit
                    <hr>
    a.btn.btn-secondary.btn-block.mt-4(href='/partAdmin') Go Back