extends base

block content
    div.text-center.mb-4.h5 Search results for "#{search.searchWord}"
    ol.list-unstyled
        each item in response
            li.my-3
                form(action=`/editpart/${item._id}`, method='POST') 
                    //div.form-group.p-2.text-center
                    //label(for='searchword') Edit Information
                    input.form-control.my-3(type='text',name='stockedAS',placeholder='Stocked As',value=`${item.stockedAS}`)
                    input.form-control.my-3(type='text',name='description1',placeholder='Description of Part',value=`${item.description1}`)
                    input.form-control.my-3(type='text',name='description2',placeholder='Additional Description',value=`${item.description2}`)
                    input.form-control.my-3(type='text',name='sapNumber',placeholder='SAP Number',value=`${item.sapNumber}`)
                    input.form-control.my-3(type='text',name='manufacturer',placeholder='Manufacturer',value=`${item.manufacturer}`)
                    input.form-control.my-3(type='text',name='location1',placeholder='Location 1',value=`${item.location1}`)
                    input.form-control.my-3(type='text',name='location2',placeholder='Location 2',value=`${item.location2}`)
                    input.form-control.my-3(type='text',name='location3',placeholder='Location 3',value=`${item.location3}`)
                    input.form-control.my-3(type='text',name='drawer',placeholder='Drawer',value=`${item.drawer}`)
                    input.form-control.my-3(type='text',name='cross1',placeholder='Cross 1',value=`${item.cross1}`)
                    input.form-control.my-3(type='text',name='cross2',placeholder='Cross 2',value=`${item.cross2}`)
                    input.form-control.my-3(type='text',name='cross3',placeholder='Cross 3',value=`${item.cross3}`)
                    input.form-control.my-3(type='text',name='price',placeholder='List Price',value=`${item.price}`)
                    button.btn.btn-primary.m-2(type='submit') Submit Changes
                    //a.btn.btn-primary.m-2(id="editbutton",href=`/editpart/${item._id}` disable) Submit Changes
                    a.btn.btn-danger.m-2(id="deletebutton",href=`/delpart/${item._id}/delete` disable) Delete Part
                    a.btn.btn-secondary.m-2(href='/partAdmin') Go Back to Admin Page