extends base

block content
    div.text-center.mb-4.h5 Search results for "#{search.searchWord}"
    ol.list-unstyled
        each item in response
            li.my-3
                form(action='POST') 
                    | Date of Request: #{item.dateRequest}</br>
                    if item.partNumber
                        | Board Part Number: #{item.partNumber}</br>
                    if item.serialNumber
                        | Serial Number: #{item.serialNumber}</br>
                    if item.remanPrice
                        | Reman Price: #{item.remanPrice}</br>
                    if item.exchangePrice
                        | Exchange Price: #{item.exchangePrice}</br>
                    if item.stockedAS
                        | Stocked As: #{item.stockedAS}</br>
                    if item.description1
                        | Description: #{item.description1}</br>
                    if item.sapNumber
                        | SAP Number: #{item.sapNumber}</br>
                    if item.price
                        | Price: #{item.price}</br>
                    if item.name
                        | Name: #{item.name}</br>
                    if item.company
                        | Company: #{item.company}</br>
                    if item.email
                        | Email: #{item.email}</br>
                    if item.phone
                        | Phone: #{item.phone}</br>
                    if item.message
                        | Message: #{item.message}</br>
                    <hr>
    a.btn.btn-secondary.btn-block.mt-4(href='/requestSearch') Go Back