extends base

block content
    div.text-center.mb-4.h5 Search results for "#{search.searchWord}"
    ol.list-unstyled
        each item in response
            li.my-3
                form(action="POST") 
                    | Part Number: #{item.partNumber})</br>
                    | Serial Number: #{item.serialNumber}</br>
                    | Bin Number: #{item.binNumber}</br>
                    | Bin Location: #{item.binLocation}</br>
                    a.btn.btn-danger.btn-sm(href=`/del/${item._id}/delete`) Delete
                    a.btn.btn-info.btn-sm.mx-2(href='#') Edit
    a.btn.btn-secondary.btn-block.mt-4(href='/') Go Back