<!DOCTYPE html>
<html lang='en'>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <div class="container">
            <%- include('../partials/header'); %>
            <%- include('../partials/links'); %>
            <%- include('../partials/banner'); %> 
            <%- include('../partials/message'); %>       
            <div class="row mt-3">
                <div class="col-sm">
                    <!--Spacing--> 
                </div>
                <div class="col-sm-6">
                    <form action="/requestSearch" method="POST">
                        <div class="form-group p-2">
                            <label class="h5" for="searchword">Enter a Date for Quotes</label>
                            <small><br> You can enter a date. EX: 11-20-2020 or Leave blank for All</small>
                            <input class="form-control my-3" type="text" name="searchWord" placeholder="Enter a date  Format: XX-XX-XXXX" />
                            <button class="btn btn-danger m-2" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm">
                    <!--Spacing--> 
                </div>
            </div>
        </div>
    </body>
</html>
