extends base

block content
    h1.mb-5 Restock Parts Form
    form(action='/restockOrder', method="POST")
        if restockAS
            strong.pr-2 Stocked As: 
            |#{restockAS}</br>
        if restockdescription1
            strong.pr-2 Description: 
            |#{restockdescription1}</br>
        if restocksapNumber
            strong.pr-2 Stocked As: 
            |#{restocksapNumber}</br>

        label.mr-4 Re-Order Quantity 
            input(type='text',name='quantity')
        label.mr-4 Requested by
            input(type='text',name='requestor')


        input(type='hidden', name='stockedAS', value=`${restockAS}`)
        input(type='hidden', name='description1', value=`${restockdescription1}`) 
        input(type='hidden', name='sapNumber', value=`${restocksapNumber}`)
        |</br>                     
        button.btn.btn-danger.mt-2(type='submit') Submit Restock Order 

        
