<!DOCTYPE html>
<html lang='en'>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <div class="container">
            <%- include('../partials/header'); %>
            <%- include('../partials/links'); %>
            <%- include('../partials/banner'); %> 
            <%- include('../partials/message'); %>       
            <div class="row mt-3">
                <div class="col-sm">
                    <!--Spacing--> 
                </div>
                <div class="col-sm-6">
                    <form action="/requestEmail" method="POST">
                        <div class="form-group p-2 text-center">
                            <hr>
                        </div>
                    </form>
                    <a class="btn btn-secondary btn-block mt-4" href="parts">Back to Parts Search</a>
                </div>
                <div class="col-sm">
                    <!--Spacing--> 
                </div>
            </div>
        </div>
    </body>
</html>
